---
export const prerender = false

import { Icon } from 'astro-icon/components'
import ImageHeader from '../../components/page-components/common/image-header.astro'
import { PaginationControls } from '../../components/ui/pagination-controls'
import Layout from '../../layouts/layout.astro'
import { getSkip } from '../../lib/utils'
import { GalleryItemsApi } from '../../lib/api'

const { searchParams } = Astro.url

const page = Number(searchParams.get('page') ?? 1)

const pageSize = 10
const skip = getSkip(page, pageSize)

const { items, total } = await GalleryItemsApi.list({
	skip,
	take: pageSize
})
---

<Layout title="Gallery">
	<ImageHeader
		title="GALLERY"
		subtitle="ギャラリー"
		image="./hero/gallery.jpg"
		alt="Wedding photo of a couple"
	/>
	<div class="mx-auto pb-[100px] pt-[108px] page-container md:pb-[150px] md:pt-[160px]">
		<p
			class="mx-auto max-w-[950px] text-center text-sm leading-[16px] md:text-base md:leading-[37px]"
		>
			和装・洋装・スタジオ・ロケーションまで、お客様のなりたいを叶えられたお写真をぜひご覧ください。
			「こんな写真が撮りたい」「こんなポーズがしたい」「こんなところで撮りたい」など
			いろいろなリクエストもお待ちしております！
		</p>
		<div class="mt-[108px] w-full px-5 md:mt-[100px]">
			<div>
				<div>TABS</div>
				<div
					class="gallery mt-5 grid w-full grid-cols-2 gap-2 md:mt-10 md:grid-cols-4 md:gap-[14px]"
				>
					{
						items.map((item) => {
							return <Fragment set:html={item.media_html} />
						})
					}
				</div>
			</div>
		</div>
		<div class="mt-[100px] flex flex-col items-center gap-[50px]">
			<PaginationControls client:load page={page} pageSize={pageSize} total={total} />
			<div class="flex items-end gap-3 text-base">
				<Icon class="aspect-square h-auto w-[30px]" name={'instagram'} />
				Instagramをチェック
			</div>
		</div>
	</div>
</Layout>
<style>
	.gallery {
		img,
		video {
			@apply aspect-square h-auto w-full object-cover;
		}
	}
</style>
