---
export interface Props {
	index: number | string
	title: string
	body: string
}

const { index, title, body } = Astro.props
---

<div class="flex flex-col items-center px-5 lg:flex-row lg:items-start">
	<div
		class="relative flex aspect-[88/100] h-auto w-full shrink-0 flex-col lg:aspect-[15/10] lg:max-w-[630px]"
	>
		<img class="h-full w-full object-cover" src="./hero.jpg" />
		<b
			class="absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 self-center text-[75px] leading-[92px] lg:bottom-[unset] lg:left-[unset] lg:right-0 lg:top-0 lg:-translate-y-1/2 lg:translate-x-1/2"
			>{index}</b
		>
	</div>
	<div class="mt-[88px] flex flex-col lg:ml-[62px] lg:mt-10">
		<p
			class="self-center text-[25px] leading-[30px] lg:self-start lg:text-[30px] lg:leading-[44px]"
		>
			{title}
		</p>
		<p class="mt-10 text-sm leading-[16px] lg:text-base lg:leading-[37px]">
			{body}
			当スタジオでは、和装・洋装に関わらずどの衣装を選んで頂いてもランクアップ料金は頂いておりません。
			また、ご自身で用意された衣装や撮影小物などの持ち込み料金も一切かかりません。 ぜひ、お二人の好きな衣装で撮影に臨んで頂ければと思います。
		</p>
	</div>
</div>
