---
export interface Props {
	title: string
	tags: string[]
	date: string
}

const { tags, title, date } = Astro.props
---

<div class="flex w-full flex-col overflow-hidden rounded-t-xl bg-white shadow-lg md:max-w-[360px]">
	<img class="h-[186px] w-full object-cover" src="/hero.jpg" />
	<div class="px-5 pb-[26px] pt-5">
		<div class="flex w-full items-center justify-between">
			<div class="flex items-center gap-[5px]">
				{
					tags[0] ? (
						<span class="rounded-md bg-black px-[10px] py-[5px] text-sm text-white">{tags[0]}</span>
					) : null
				}
				{
					tags[1] ? (
						<span class="rounded-md bg-[#BB9C52] px-[10px] py-[5px] text-sm text-white">
							{tags[1]}
						</span>
					) : null
				}
			</div>
			<span class="text-sm">{date}</span>
		</div>
		<p class="mt-4 leading-[27px]">
			{title}
		</p>
	</div>
</div>
