---
export interface Props {
	step: string | number
	title: string
	body: string
	image: string
}

const { step, title, body, image } = Astro.props
---

<div class="flex flex-col">
	<span
		class="flex w-full max-w-[190px] items-center justify-center gap-2 rounded-tr-[50px] bg-[#333333] py-5 text-xl font-bold leading-none text-white md:max-w-[305px]"
		><span>STEP</span><b class="text-3xl">{step}</b></span
	>
	<div
		class="flex flex-col items-center gap-[46px] rounded-b-xl rounded-tr-xl border-4 border-[#333333] p-4 md:flex-row md:gap-10 md:p-[26px]"
	>
		<img class="h-[280px] w-full max-w-[515px] shrink-0 rounded-lg object-cover" src={image} />
		<div class="flex flex-col gap-[27px]">
			<span class="text-[25px] font-bold leading-[30px] md:leading-[40px]">{title}</span>
			<p class="text-base font-medium leading-[19px] md:leading-[33px]">
				{body}
			</p>
		</div>
	</div>
</div>
