---
import { Icon } from 'astro-icon/components'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="flex h-20 w-full items-center justify-center">
			<div class="flex w-full items-center justify-between px-5 lg:hidden">
				<span class="bg-[#757575] px-[52px] py-5 text-xs leading-[14px] text-white">ロゴ</span>
				<Icon name="hamburger" />
			</div>

			<div class="hidden w-full items-center justify-evenly lg:flex">
				<div class="flex items-center gap-4">
					<Icon class="aspect-[100/24] h-auto w-[192px]" name="logo" />
				</div>
				<div class="flex items-center gap-4">
					<div>
						<span>スタジオ紹介</span>
						<span>STUDIO</span>
					</div>
					<div>
						<span>スタジオ紹介</span>
						<span>STUDIO</span>
					</div>
					<div>
						<span>スタジオ紹介</span>
						<span>STUDIO</span>
					</div>
					<div>
						<span>スタジオ紹介</span>
						<span>STUDIO</span>
					</div>
				</div>
			</div>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>
